:root {
    --background: #A9CEF4;
    --backCal: #7EA0B7;
    --backRes: #597081;
    --oldF: #36494E;
}

h1{
    font-size: 3em;
    margin: 20px;
}

.Title {
    text-align: center;
}

.Compra {
    margin: 0 auto;
    text-align: center;
    width: 20.1em;
    height: 2em;
    font-size: 1.5em;
    border: none;
    display: block;
}

.botão_estado {
    width: 10em;
    height: 2em;
    font-size: 1.5em;
    border: none;
    margin: 10px 0.1em;
}

.bResultado {
    background-color: #597081;
    border-radius: 80px;
    width: 10em;
    height: 2em;
    font-size: 1.5em;
    border: none;
    margin: 0.1em;
}

button:hover {
    cursor: pointer;
}

.wrapper {
    background-color: var(--backCal);
    border-radius: 1em;
    padding: 1.5em;

    text-align: center;
}

.Resultado {
    width: 10em;
    font-size: 25px;
    height: 1.5em;
    background-color: var(--backRes);
    color: white;
    margin: 10px;

    justify-content: center;
}