.ImgLogo {
    cursor: pointer;
    width: 3.5em;
}

.navbar {
    background-color: #2A383C;
    padding: 25px 45px;
}

.list li, a, a:hover{
    font-size: 25px;
    list-style: none;
    display: inline;
    padding: 0px 10px;
    color: white;
    text-decoration: none;
}

